@use "sass:map";
@use "@angular/material" as mat;
@use "../typography/config" as typography;

$my-app-dark-primary: mat.define-palette(mat.$cyan-palette);
$my-app-dark-accent: mat.define-palette(mat.$amber-palette);
$my-app-dark-warn: mat.define-palette(mat.$orange-palette);
$my-app-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-app-dark-primary,
      accent: $my-app-dark-accent,
      warn: $my-app-dark-warn,
    ),
  )
);

.dark-theme {
  @include mat.core-color($my-app-dark-theme);
  @include mat.button-color($my-app-dark-theme);
}
